nav {
  background-color: #833ab4;
  padding: 15px 0;
}

button{
  cursor: pointer;
  border: none;
  font-size: 2rem;
  color: rgba(252,176,69,1);
  background: none;
  transition: .3s ease;
}
button:hover{
  color: white
}
button span{
  font-size: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 3%;
}

nav ul li {
  display: inline;
  font-size: 1.4rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}