<div>
    <h2>Employee Detail</h2>
    <div *ngIf="employee">
      <p><strong>Username:</strong> {{ employee.username }}</p>
      <p><strong>Full Name:</strong> {{ employee.firstName }} {{ employee.lastName }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Birth Date:</strong> {{ employee.birthDate | date }}</p>
      <p><strong>Basic Salary:</strong> {{ employee.basicSalary }}</p>
      <p><strong>Status:</strong> {{ employee.status }}</p>
      <p><strong>Group:</strong> {{ employee.group }}</p>
      <p><strong>Description:</strong> {{ employee.description }}</p>
    </div>
    <div *ngIf="!employee">
      <p>Data not found.</p>
    </div>
  </div>
  